@charset "UTF-8";
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.tel-icon, .mail-icon {
  margin-right: 10px;
  fill: #757575;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form__text, .newsletter__button-title, .title__button {
  cursor: pointer;
  background-color: #2196F3;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: solid transparent;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-form__text:hover, .newsletter__button-title:hover, .title__button:hover, .button-form__text:focus, .newsletter__button-title:focus, .title__button:focus, .button-form__text:active, .newsletter__button-title:active, .title__button:active {
  color: #F5F4FA;
  background-color: #2196F3;
  border-color: #2196F3;
}

.title__block {
  text-align: center;
}

.make__description, .about__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}

.footer-nav, .about__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.client__title, .team__title, .make__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  line-height: 1.16;
}

.logo-footer, .logo__blue {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  display: block;
}

.input-form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.body {
  margin: 0 auto;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.page-header {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  border: 1px solid #ECECEC;
}
.page-header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 480px) {
  .page-header .container {
    margin: auto;
  }
}

.logo__blue {
  color: #2196F3;
}

.logo__black {
  color: #000000;
}

.logo-footer {
  padding-bottom: 20px;
  color: #2196F3;
}

.logo-white {
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .site-nav__normal {
    display: none;
  }
}

.site-nav {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 88px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0;
}
.site-nav .site-nave__item + .site-nave__item {
  margin-left: 50px;
}
@media screen and (min-width: 1200px) {
  .site-nav {
    width: 93px;
  }
}

.site-nav__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link {
  color: #212121;
}
.site-nav__link:hover, .site-nav__link:focus, .site-nav__link:active {
  color: #2196F3;
}
.site-nav__link::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.site-nav__studio {
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__studio:hover, .site-nav__studio:focus, .site-nav__studio:active {
  color: #2196F3;
}
.site-nav__studio::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
}

.site-nav____portfolio {
  color: #2196F3;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav____portfolio:hover, .site-nav____portfolio:focus, .site-nav____portfolio:active {
  color: #2196F3;
}
.site-nav____portfolio::after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 1;
}

.contact-info {
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 0px;
  margin-left: auto;
  list-style: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
@media screen and (min-width: 1200px) {
  .contact-info .contact-info__item + .contact-info__item {
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-info .contact-info__item + .contact-info__item {
    margin-top: 10px;
    display: block;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-info {
    display: block;
    margin-left: auto;
  }
}
@media screen and (max-width: 767px) {
  .contact-info {
    display: none;
  }
}

.contact-info__header {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-info__header:hover, .contact-info__header:focus, .contact-info__header:active {
  color: #2196F3;
}
@media screen and (max-width: 767px) {
  .contact-info__header {
    display: none;
  }
}

.contact-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.contact-info__item:hover .mail-icon {
  fill: #2196F3;
}
.contact-info__item:hover .tel-icon {
  fill: #2196F3;
}
@media screen and (max-width: 767px) {
  .contact-info__item {
    display: none;
  }
}

.mail-icon {
  height: 10px;
  width: 16px;
}

.tel-icon {
  height: 16px;
  width: 10px;
}

.mob-site-nav {
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-bottom: 0px;
  margin-left: 93px;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0;
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: auto;
  font-size: 40px;
  line-height: 1.15;
}
.mob-site-nav .mob-site-nave__item {
  padding-bottom: 32px;
}
.mob-site-nav .mob-site-nave__item:last-child {
  padding-bottom: 0;
}

.mob-site-nav__link {
  display: block;
  padding-top: 32px;
  position: relative;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin: 0;
  padding-top: 0;
}
.mob-site-nav__link {
  color: #212121;
}
.mob-site-nav__link:hover, .mob-site-nav__link:focus, .mob-site-nav__link:active {
  color: #2196F3;
}

.mob-site-nav__studio {
  color: #2196F3;
}

.mob-contact-info {
  font-size: 14px;
  cursor: pointer;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  padding: 0px;
  margin: 0;
  list-style: none;
  display: block;
}
.mob-contact-info .mob-contact-info__item + .mob-contact-info__item {
  margin-left: 0;
  margin-top: 32px;
}

.mob-contact-info__header {
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-contact-info__header:hover, .mob-contact-info__header:focus, .mob-contact-info__header:active {
  color: #2196F3;
}
.mob-contact-info__header.mob {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-contact-info__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  content: "";
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.mob-contact-info__item:hover .mob-mail-icon {
  fill: #2196F3;
}
.mob-contact-info__item:hover .mob-tel-icon {
  fill: #2196F3;
}

.mob-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 64px;
  margin-bottom: 0;
  padding: 0;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .mob-nav {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .mob-nav {
    display: none;
  }
}

.mob-nav__item {
  cursor: pointer;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 0px;
  color: #2196F3;
  padding-right: 10px;
  padding-left: 10px;
}

.mob-nav__block {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-nav__block:last-child {
  border-right: none;
}

.title {
  text-align: center;
}
.title__block {
  background: #2F303A;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img_new/header/img_mob@1x.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img_new/header/img_mob@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 480px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media screen and (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .title__block {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img_new/header/img_mob@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img_new/header/img_mob@2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .title__block {
    max-width: 768px;
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img_new/header/img_tab@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img_new/header/img_tab@1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .title__block {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img_new/header/img_tab@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img_new/header/img_tab@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .title__block {
    max-width: 1600px;
    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img_new/header/img_comp@1x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img_new/header/img_comp@1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .title__block {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img_new/header/img_comp@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img_new/header/img_comp@2x.jpg);
  }
}
.title__header {
  color: #FFFFFF;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.5;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  margin-top: 0;
}
@media screen and (min-width: 1200px) {
  .title__header {
    font-size: 44px;
    line-height: 1.4;
  }
}
.title__button {
  display: inline-block;
  padding: 10px 32px;
  min-width: 216px;
}

.about {
  text-align: left;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .about {
    padding-top: 94px;
    padding-bottom: 118px;
  }
}
.about__title {
  margin-top: 30px;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .about__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.about__description {
  color: #757575;
  font-style: normal;
  margin: 0;
}

.about__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 120px;
  max-width: 450px;
  background: #F5F4FA;
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1200px) {
  .about__icon {
    width: 270px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__icon {
    width: 354px;
  }
}
.about__icon-vsg {
  height: 70px;
  width: 70px;
}

.about__item {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .about__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: -30px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__item .about__block {
    width: calc((100% - 30px) / 4);
    margin-left: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .about__item .about__block {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (max-width: 767px) {
  .about__item .about__block {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 480px) {
  .about__item .about__block:last-child {
    margin-bottom: 0;
  }
}

@media (max-width: 1199px) {
  .make {
    display: none;
  }
}

.make {
  padding-top: 0;
  padding-bottom: 94px;
}
.make__title {
  margin-top: 0;
  margin-bottom: 50px;
}
.make__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -30px;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  height: 294px;
}
.make__block .make__image {
  -ms-flex-preferred-size: calc((100% - 30px) / 3);
      flex-basis: calc((100% - 30px) / 3);
  margin-right: 30px;
}

.make__item {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.make__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 0;
}

.make__description {
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
}

.team {
  padding-top: 0px;
  padding-bottom: 60px;
  background: #F5F4FA;
}
@media screen and (min-width: 768px) {
  .team {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-bottom: 94px;
  }
}
.team__title {
  padding-top: 94px;
  padding-bottom: 50px;
  margin-top: 60px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .team__title {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
@media screen and (max-width: 767px) {
  .team__title {
    padding-top: 60px;
    padding-bottom: 30px;
  }
}
.team__label {
  border-radius: 0px 0px 4px 4px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__icon {
  background-color: #FFFFFF;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0;
  margin-top: 16px;
  margin-right: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon:hover, .team__icon:focus {
  background-color: #2196F3;
}

.team__icon-svg {
  height: 20px;
  width: 20px;
  background-position: center;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__icon-svg:hover {
  fill: #FFFFFF;
}
.team__icon:hover .team__icon-svg {
  fill: #FFFFFF;
}

.team__block {
  padding: 0;
  margin: auto;
}
@media screen and (min-width: 1200px) {
  .team__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: -30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .team__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
.team__block .team__item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .team__block .team__item {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .team__block .team__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .team__block .team__item {
    margin-right: 15px;
    -ms-flex-preferred-size: calc((100% - 30px) / 4);
        flex-basis: calc((100% - 30px) / 4);
  }
}
@media screen and (max-width: 767px) {
  .team__block .team__item:last-child {
    margin-bottom: 0px;
  }
}
@media screen and (max-width: 767px) {
  .team__block img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .team__block img {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .team__block img {
    display: block;
  }
}

.team__name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
}

.team__profession {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
}

.client {
  margin-left: 30px;
  margin-top: 0;
  margin-left: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .client {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.client__title {
  padding-bottom: 30px;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .client__title {
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .client__title {
    padding-bottom: 50px;
  }
}
.client__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
}
@media screen and (max-width: 1199px) {
  .client__block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .client__block {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -30px;
  }
}

.client__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  height: 92px;
  width: 210px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-left: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (max-width: 767px) {
  .client__icon {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
@media screen and (min-width: 768px) {
  .client__icon {
    width: 226px;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
    margin: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .client__icon {
    width: 170px;
    -ms-flex-preferred-size: calc((100% - 30px) / 6);
        flex-basis: calc((100% - 30px) / 6);
  }
}
.client__icon:hover {
  border: 1px solid #2196F3;
}

.client__svg {
  height: 60px;
  width: 106px;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__icon:hover .client__svg {
  fill: #2196F3;
}

.footer {
  background-color: #2F303A;
}

.footer-block {
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .footer-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.footer-nav {
  font-style: normal;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (max-width: 767px) {
  .footer-nav {
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-nav {
    display: inline-block;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer-nav {
    display: block;
  }
}
.footer-nav__list {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.footer-nav__item {
  margin-bottom: 9px;
}
.footer-nav__item:nth-child(3n) {
  margin-bottom: 0;
}

.footer-nav__map {
  color: #FFFFFF;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__map:hover, .footer-nav__map:focus, .footer-nav__map:active {
  color: #2196F3;
}

.footer-nav__info {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-nav__info:hover, .footer-nav__info:focus, .footer-nav__info:active {
  color: #2196F3;
}

.join {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  left: 206px;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .join {
    margin-left: 165px;
    margin-top: 65px;
  }
}
@media screen and (min-width: 1200px) {
  .join {
    margin-left: 70px;
    margin-top: 72px;
    margin-bottom: 60px;
    text-align: start;
  }
}
.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0;
}

.join__icon {
  background-color: rgba(255, 255, 255, 0.1);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0;
  margin-top: 20px;
  padding: 0px;
  margin-left: 10px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join__icon:hover {
  background-color: #2196F3;
}
.join__icon:nth-child(2) {
  margin-left: 0px;
}

.join__social-media {
  height: 20px;
  width: 20px;
  background-position: center;
}

/* підпишіться на розсилку */
/* newsletter */
.newsletter {
  display: block;
  height: 156px;
}
@media screen and (min-width: 1200px) {
  .newsletter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 156px;
    left: 450px;
    margin-left: 93px;
    margin-top: 72px;
  }
}
.newsletter__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0px;
  padding-bottom: 20px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .newsletter__title {
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter__form {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-right: 12px;
  }
}

.newsletter__link input {
  margin: 0;
  margin-top: 0px;
  padding: 0;
  height: 50px;
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
}
@media screen and (min-width: 768px) {
  .newsletter__link input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .newsletter__link input {
    width: 358px;
  }
}
.newsletter__link input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
}
.newsletter__link input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
}
.newsletter__link input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
}
.newsletter__link input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
}
.newsletter__link input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25px;
}
.newsletter__link input {
  margin: 0;
  padding: 15px 16px;
}

.newsletter__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
}
@media screen and (min-width: 1200px) {
  .newsletter__button {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding-top: 0;
  }
}
.newsletter__button-title {
  width: 200px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  min-width: 200px;
  position: relative;
  padding-left: 28px;
}

.newsletter__icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  right: 28px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.newsletter__icon-fly {
  height: 24px;
  width: 24px;
  fill: #FFFFFF;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter__icon:hover .newsletter__icon-fly {
  fill: #F5F4FA;
}

.backdrop {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 4;
  overflow-y: scroll;
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  overflow-y: scroll;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  min-height: 500px;
  max-width: 450px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    max-width: 528px;
  }
}

.close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  top: 8px;
  right: 8px;
}
.close-button-icon {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button-icon:hover {
  fill: #2196F3;
}

textarea {
  resize: none;
}

.input-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  padding-bottom: 12px;
  margin-top: 0;
  margin-bottom: 0px;
}
@media screen and (max-width: 1199px) {
  .input-form__title {
    width: 100%;
    margin: auto;
  }
}

@media screen and (min-width: 1200px) {
  .input-form__block {
    width: 100%;
  }
}

.input-form__line {
  cursor: pointer;
  height: 40px;
  width: 100%;
  padding-left: 42px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .input-form__line {
    width: 100%;
  }
}
.input-form__line:focus {
  border-color: #2196F3;
}

.input-form__name {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  color: #757575;
}

.input-form__img {
  position: absolute;
  cursor: pointer;
  width: 18px;
  height: 18px;
  left: 12px;
  bottom: 11px;
  display: inline-block;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-form__item:focus-within > .input-form__img {
  fill: #2196F3;
}
.input-form__item:last-child {
  margin-bottom: 0;
}
.input-form__item {
  margin-bottom: 10px;
  position: relative;
}

textarea[type=comment]::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea[type=comment]::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea[type=comment]:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea[type=comment]::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

textarea[type=comment]::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
textarea[type=comment]::-webkit-input-placeholder::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
}
textarea[type=comment]::-moz-placeholder::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
}
textarea[type=comment]:-ms-input-placeholder::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
}
textarea[type=comment]::-ms-input-placeholder::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
}
textarea[type=comment]::placeholder::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  letter-spacing: 0.01em;
}

.input-form__comment {
  cursor: pointer;
  height: 120px;
  width: 100%;
  margin: 0;
  padding: 12px 16px;
  margin-top: 4px;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: rgba(33, 33, 33, 0.2);
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1200px) {
  .input-form__comment {
    width: 100%;
  }
}
.input-form__comment:focus {
  border-color: #2196F3;
}

.checkbox-form {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 54px;
}
.checkbox-form__input {
  position: fixed;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-form__img {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border-radius: 2px;
  display: inline-block;
}
.checkbox-form__input:checked + .checkbox-form__img {
  background-color: #2196F3;
  border-color: #2196F3;
  fill: #2196F3;
  background-image: url("../img/check-two.svg");
  background-size: contain;
  background-origin: border-box;
}

.checkbox-form {
  width: 100%;
  margin: 0;
  margin-top: 20px;
}
.checkbox-form__text {
  text-align: center;
  color: #757575;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 12px;
  line-height: 1.6;
}
@media screen and (min-width: 1200px) {
  .checkbox-form__text {
    font-size: 14px;
    line-height: 1.7;
    margin-left: 13px;
  }
}
.checkbox-form__nav {
  color: #2196F3;
  line-height: 24px;
  margin-left: 3px;
  text-decoration: underline;
}

.button-form__text {
  margin: 20px auto 0px auto;
  padding: 10px 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
}

.button-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  .button-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .button-list {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}
.button-list__item {
  padding-right: 15px;
  margin: 0;
}
@media screen and (max-width: 767px) {
  .button-list__item {
    padding-top: 0px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  .button-list__item:nth-child(5), .button-list__item:nth-child(4) {
    padding-bottom: 0px;
  }
}
@media screen and (min-width: 768px) {
  .button-list__item:last-child {
    padding-right: 0;
  }
}

.button-list button {
  cursor: pointer;
  background: #F5F4FA;
  border-color: #F5F4FA;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  border: solid transparent;
  padding: 6px 22px;
  min-width: 73px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-list button:hover, .button-list button:focus, .button-list button menu:active {
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project {
  padding-bottom: 60px;
  padding-top: 0px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project {
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .project {
    padding-bottom: 94px;
  }
}
.project__block {
  padding: 0;
  margin: -15px;
}
@media screen and (min-width: 768px) {
  .project__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}
@media screen and (min-width: 1200px) {
  .project__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.project__item {
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project__item img {
  display: block;
}
@media screen and (max-width: 767px) {
  .project__item img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .project__item {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }
}
.project__item img:hover, .project__item:focus, .project__item:active {
  border-color: #2196F3;
}
.project__item:hover .project__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.project__block .project__item {
  background-color: #FFFFFF;
  margin: 15px;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .project__block .project__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 2);
        flex-basis: calc((100% - 60px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project__block .project__item {
    width: 370px;
  }
}

.project__label {
  padding: 20px 0px 20px 23px;
  border: 1px solid #EEEEEE;
}

.project__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 4px;
}

.project__description {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}

.project__image {
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .project__image img {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .project__image img {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .project__image img {
    width: 100%;
  }
}

.project__overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 294px;
  width: 450px;
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0px;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 768px) {
  .project__overlay {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .project__overlay {
    width: 100%;
  }
}
.project__overlay-text {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  margin-top: 77px;
  margin-bottom: 77px;
  margin-left: 24px;
  margin-right: 24px;
}
@media screen and (min-width: 768px) {
  .project__overlay-text {
    margin-top: 49px;
  }
}
@media screen and (min-width: 1200px) {
  .project__overlay-text {
    margin-top: 63px;
  }
}

.menu-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  z-index: 2;
  margin-left: auto;
}
.menu-toggle__icon-closeX {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle__icon-closeX:hover, .menu-toggle__icon-closeX:focus {
  fill: #2196F3;
}
.menu-toggle__icon-line {
  fill: #000000;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle__icon-line:hover, .menu-toggle__icon-line:focus {
  fill: #2196F3;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #FFFFFF;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  overflow-y: scroll;
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}/*# sourceMappingURL=main.css.map */