
.menu-toggle {
   
  display: inline-flex;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  width: 40px;
  height: 40px;
  z-index: 2;
margin-left: auto;

&__icon-closeX{fill: $color-logo;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
&__icon-closeX:hover,
&__icon-closeX:focus{fill: $color;}
        
&__icon-line{fill: $color-logo;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}
&__icon-line:hover,
&__icon-line:focus{fill: $color;} 
  
@media screen and (min-width: 768px)
    {display: none;}}
  
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: $color-accent;
  z-index: 999;

  display: flex;
  flex-direction: column;
  
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;

@media screen and (min-width: 768px)
  {display: none;}
  }
  
.menu-container.is-open {
  transform: translateX(0);
  overflow-y: scroll;}
  
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;}
