// /* join */
// приєднуйтесь

.join {display: flex;
    height: 80px;
    left: 206px;
    margin-left: 0;
    margin-top: 0;
margin-bottom: 60px;
justify-content: center;
text-align: center;

@media screen and (min-width: 768px) 
{margin-left: 165px;
margin-top: 65px;}

@media screen and (min-width: 1200px)
{margin-left: 70px;
margin-top: 72px;
margin-bottom: 60px;
text-align: start;}

&__title {font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin: 0;

// @media screen and (min-width: 480px) and (max-width: 767px)
// {text-align: center;}}
}}

 .join__icon {background-color:rgba(255, 255, 255, 0.1);
    display: inline-flex;
    cursor: pointer;

    height: 44px;
    width: 44px;
    border-radius: 50%;

    align-items: center;
    justify-content: center;

    margin-left: 0;
    margin-top: 20px;  
    padding: 0px;
    margin-left: 10px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover {background-color:$color;}
&:nth-child(2){margin-left: 0px;}}

.join__social-media{height: 20px;
    width: 20px;
    background-position:center;}