    // /* Залиште свої дані, ми вам передзвонимо */
textarea{resize: none;}

.input-form__title{font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;

    padding-bottom: 12px;
    margin-top: 0;
    margin-bottom: 0px;


@media screen and (max-width: 1199px)
{width: 100%;
margin: auto;}}

.input-form__block{@extend %form-field;
    // width: 370px;
    // margin-left:40px;
    // margin-right: 40px;

@media screen and (min-width: 1200px)
{width: 100%;}}


.input-form__line{
    cursor: pointer;
    height: 40px;
    width: 100%;
    padding-left: 42px;
    margin-top: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: rgba(33, 33, 33, 0.2);

@media screen and (min-width: 1200px) 
{width: 100%;}

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {border-color: $color}  
}

.input-form__name {font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.01em;
    color:$color-primary;}

.input-form__img{position: absolute;
    cursor: pointer;
    width: 18px;
    height: 18px;
    left: 12px;
    bottom: 11px;
    // /* transform: translateY(-50%);     */
    display: inline-block;
    fill: $color-secondary;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);}

.input-form__item{
    &:focus-within >.input-form__img {fill: $color;}

&:last-child {
    margin-bottom: 0;}
&{margin-bottom: 10px;
    position: relative;}
}

// /* коментар */

textarea[type="comment"]::placeholder{color:rgba(117, 117, 117, 0.5) ;

&::placeholder {color:rgba(117, 117, 117, 0.5);
    font-weight: 400;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.01em;} 
}
.input-form__comment{
    cursor: pointer;
    height: 120px;
    width: 100%;
    margin:0;
    padding: 12px 16px;
    margin-top: 4px;
    font-size: 14px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: rgba(33, 33, 33, 0.2);

@media screen and (min-width: 1200px)
{width: 100%;}

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:focus {border-color: $color;}
}

.checkbox-form{text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 54px;

&__input{
    position: fixed;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;}

&__img{
    width: 16px;
    height: 15px;
    margin-right: 7px;
    border-radius: 2px;
    display: inline-block;}

&__input:checked + &__img{
    background-color: $color;
    border-color: $color;
    fill: $color;
    background-image: url('../img/check-two.svg');
    background-size: contain;
    background-origin: border-box;}
}
.checkbox-form{width: 100%;
    margin: 0;
    margin-top: 20px;

&__text{
    text-align: center;
    color: $color-primary;
    align-items: center;
    display: flex;
font-size: 12px;
line-height: 1.6;

@media screen and (min-width: 1200px)
{font-size: 14px;
line-height: 1.7;
margin-left: 13px;
}
}
    
&__nav {color: $color;
    line-height: 24px;
    margin-left: 3px;
    text-decoration: underline;}
}



.button-form__text{@extend %button;
    margin: 20px auto 0px auto;
    // display: inline-block;
    padding: 10px 32px;
    display: flex;
    justify-content: center;

    width:200px;
    }
