//site-nav 
.site-nav__normal{@media screen and (max-width: 767px)
    {display: none;}}

.site-nav {cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    padding-bottom: 0px;

    display: flex;
    margin-left: 88px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0;

    & .site-nave__item + .site-nave__item {margin-left: 50px;}

@media screen and (min-width: 1200px)
{width: 93px;}

// @media screen and (min-width: 480px) and (max-width: 767px)
// {display: block;
// margin: 0;
// padding: 0;
// font-size: 40px;
// line-height: 1.15;}
}


.site-nav__link {display: block ;
    padding-top: 32px;
    padding-bottom: 32px;

    position: relative;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

& {color: #212121;} 
&:hover, 
&:focus, 
&:active {color: $color;}

&::after{content:'';
    display: flex;
    width: 100%;
    height: 4px;
    background-color:$color;
    border-radius: 2px;

    position: absolute;
    left:0;
    bottom:0;
    
    opacity: 0;}
}


.site-nav__studio {color: $color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus,
    &:active {color:$color;}

    &::after{content:'';
    display: flex;
    width: 100%;
    height: 4px;
    background-color:$color;
    border-radius: 2px;
    position: absolute;

    left:0;
    bottom:0;
    opacity: 1;}
}

.site-nav____portfolio {color: $color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus,
    &:active {color:$color;}

    &::after{content:'';
    display: flex;
    width: 100%;
    height: 4px;
    background-color: $color;
    border-radius: 2px;
    position: absolute;
    
    left:0;
    bottom:0;
    opacity: 1;}
}

//contact-info 
.contact-info {font-size: 14px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    padding: 0px;
    margin-left: auto;
    list-style: none;
    display: inline-flex;
    
& .contact-info__item + .contact-info__item {@media screen and (min-width: 1200px)
{margin-left: 30px;}}
& .contact-info__item + .contact-info__item {@media screen and (min-width: 768px) and (max-width: 1199px)
{margin-top: 10px;
display: block;}}

@media screen and (min-width: 768px) and (max-width: 1199px)
{display: block;
margin-left: auto;}

@media screen and (max-width: 767px)
{display: none;}
}
.contact-info__header {color:$color-primary;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover, 
    &:focus, 
    &:active {color: $color;}

@media screen and (max-width: 767px)
    {display: none;}}



 //іконки contact-info
.contact-info__item {
    display: flex;
    content:"";
    background-repeat: no-repeat;
    background-size: contain;
    background-position:center;
    
    &:hover .mail-icon{fill: $color;}
    &:hover .tel-icon{fill: $color;}

@media screen and (max-width: 767px)
    {display: none;}}        
    
    
.mail-icon{
    @extend %contact-info__icon;
    height: 10px;  
    width: 16px;}
    
.tel-icon{ 
    @extend %contact-info__icon;
    height: 16px;
    width: 10px;} 
    

