html {box-sizing: border-box;}

*,
*::after,
*::before {box-sizing: inherit;} 

.body {
    margin: 0 auto;
    color: $color-secondary;

    font-family: Roboto, sans-serif ;
    letter-spacing: 0.03em;
}

// img{display: block;
// max-width: 100%;
// height: auto;}



a {text-decoration: none;}

// Header 
.container {// width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    // margin-left: auto;
    // margin-right: auto; 

@media screen and (min-width: 480px)
{width: 480px;}

@media screen and (min-width: 768px)
{width: 768px;}

@media screen and (min-width: 1200px)
{width: 1200px;}
}


.page-header {
    align-items: center;
    padding: 0px;
    border: 1px solid #ECECEC; 
// @media screen and (min-width: 480px) and (max-width: 767px)
// {position: relative;}

.container {
    display: flex;
    align-items: center;

@media screen and (min-width: 480px) 
{
// padding-left: 15px;
// padding-right: 15px;
margin: auto;}
}
}
