// Наша команда
.team {
    padding-top: 0px;
    padding-bottom: 60px;
    background: $color-button;

@media screen and (min-width: 768px)
{padding-bottom: 60px;}

@media screen and (min-width: 1200px)
{padding-bottom: 94px;}


&__title {@extend %title-text;

    padding-top: 94px;
    padding-bottom: 50px;
    margin-top:60px;
    margin-bottom:30px;

@media screen and (min-width: 1200px)
{padding-top: 60px;
padding-bottom: 30px;}

@media screen and (max-width: 767px) 
{padding-top: 60px;
padding-bottom: 30px;}

}

&__label {border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px}
}

// іконки 
 .team__icon {background-color:$color-accent;
    display: inline-flex;
    cursor: pointer;
    height: 44px;
    width: 44px;
    border-radius: 50%;

    align-items: center;
    justify-content: center;

    margin-left: 0;
    margin-top: 16px;  
    margin-right: 10px;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover, &:focus {background-color: $color;}
}

.team__icon-svg{height: 20px;
    width: 20px;
    background-position:center;
    fill: $color-svg-team;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover{fill: $color-accent;}

.team__icon:hover &{fill: $color-accent;}
}


.team__block {
    padding: 0;
    margin: auto;

@media screen and (min-width: 1200px)
{display: flex;
    margin-right: -30px;}

@media screen and (min-width: 768px) and (max-width: 1199px)
{display: flex;
flex-wrap: wrap;
margin: -15px;}

// @media screen and (min-width: 480px) and (max-width: 767px)
// {margin-bottom: -30px;
//  }

.team__item {background-color: $color-accent;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
                0px 1px 1px rgba(0, 0, 0, 0.14), 
                0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    
@media screen and (max-width: 767px)
{margin-bottom: 30px;}

@media screen and (min-width: 768px) 
{width: calc((100% - 2 * 30px) / 2);
margin: 15px;}

@media screen and (min-width: 1200px)
{margin-right: 15px;
flex-basis: calc((100% - 30px) / 4);}

&:last-child {@media screen and (max-width: 767px)
{margin-bottom: 0px;}}
}

& img {@media screen and (max-width: 767px)
{width: 100%;}}

& img {@media screen and (min-width: 768px)
{width: 100%;}}

& img {@media screen and (min-width: 1200px)
    {display:block;}}
}

.team__name {font-weight: 700;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;

    margin-top: 0;
    margin-bottom: 10px;}

.team__profession {color:$color-primary;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    margin: 0;}

    