//Ефективні рішення для вашого бізнесу
//title

.title {text-align: center;

&__block {
    @extend %title;
    background:$bg-color;
    background-image:linear-gradient(to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(../img/Imgmain.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;

    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;

@media screen and (min-width: 480px) and (max-width: 767px)
{max-width: 480px;
height: 400px;
padding-top: 118px;
padding-bottom: 118px;}}

&__header {
    color:$color-accent;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;

    letter-spacing: 0.06em;
    text-transform: uppercase;

    margin-bottom: 30px;
    margin-top: 0;
@media screen and (min-width: 480px) and (max-width: 767px)
{font-size: 28px;}} 

&__button{@extend %button;
    display: inline-block;    
    padding: 10px 32px;
    min-width:216px;}
}
