$color-button:#F5F4FA;
$bg-image:rgba(47, 48, 58, 0.4);
$bg-color:#2F303A;
$color-accent:  #FFFFFF;
$color-primary: #757575;
$color-secondary: #212121;
$color:#2196F3;
$color-logo:#000000;
$color-svg-team:#AFB1B8;


// $color-placeholder:rgba(255, 255, 255, 0.6);
// $color-border:rgba(255, 255, 255, 0.3);
// $bg-color-positing:rgba(47, 48, 58, 0.8);
// $bg-color-join:rgba(255, 255, 255, 0.1);
// $bg-color-modal:rgba(0, 0, 0, 0.2);